<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link
      rel="shortcut icon"
      href="../static/favicon.png"
      type="image/x-icon"
    />
    <title>TextGuardian</title>
</head>
<body>
    <div id="main">
        <div class="nav">
          <div class="nav-container">
              <div class="logo">
                <a href="/" class="lg-logo">TextGuardian</a>
                <a href="/" class="sm-logo">TG</a>
              </div>
              <div class="menu">
                <a href="/">Home</a>
                <a href="/detect">DETECT</a>
                <a href="/about">ABOUT</a>
                <a href="https://github.com/Asrar-Ahammad/text-classification">
                  <i class="ri-github-fill"></i>
                </a>
              </div>
              <div class="menu-res">
                <a href="/">Home</a>
                <a href="/detect">DETECT</a>
                <a href="/about">ABOUT</a>
                <a href="https://github.com/Asrar-Ahammad/text-classification">
                  <i class="ri-github-fill"></i>
                </a>
              </div>
              <div class="menu-icon">
                <i class="ri-menu-line"></i>
              </div>
            </div>
          </div>
        
        <div id="home-section">
            <div class="heading hero-heading">
              <h1>Empowering AI to Detect Authentic Text</h1>
              <p>TextGuardian utilizes advanced neural networks to accurately distinguish between AI-generated and human-written text, ensuring reliable and trustworthy content.</p>
              <a href="/detect" class="detect-btn">Detect</a>
            </div>
            <div class="hero-img">
              <img src="../static/homeimg.jpg" alt="">
            </div>
        </div>
        <div id="innovate-section">
          <div class="info">
            <h5>Innovative</h5>
            <h1>Unleashing the Power of Multilingual Text Detection</h1>
            <p>TextGuardian's neural network utilizes the advanced BERT based multilingual cased algorithm to accurately detect AI generated and human written text. With its cutting-edge technology, TextGuardian ensures reliable and efficient text detection for a wide range of languages.</p>
            <div class="bullet-points">
              <div class="point">
                <i class="ri-brain-line"></i>
                <span>Detect AI generated and human written text with precision.</span>
              </div>
              <div class="point">
                <i class="ri-earth-line"></i>
                <span>Ensure reliable and efficient text detection for multiple languages.</span>
              </div>
              <div class="point">
                <i class="ri-node-tree"></i>
                <span>Unleash the power of BERT based multilingual cased algorithm.</span>
              </div>
            </div>
            <div class="learn-more-btn">
              <a href="/about">Learn More</a>
            </div>
          </div>
          <div class="info-img">
            <img src="../static/innovate.avif" alt="">
          </div>
        </div>
        <div id="reliable-section">
          <video src="../static/reliable.mp4" muted loop autoplay></video>
          <div class="reliable-info">
            <h5>Reliable</h5>
            <h1>Accurate and Fast Text Detection System</h1>
            <p>TextGuardian's detection system is known for its high accuracy, lightning-fast speed, and extensive language support. Whether you're analyzing AI-generated text or human-written content, TextGuardian has got you covered.</p>
          </div>
          <div class="reliable-features">
            <div class="card">
              <i class="ri-node-tree"></i>
              <h2>Advanced AI Algorithms</h2>
              <p>TextGuardian's detection system is built on advanced AI algorithms that ensure accurate and reliable results.</p>
            </div>
            <div class="card">
              <i class="ri-user-smile-line"></i>
              <h2>User-Friendly Interface</h2>
              <p>Our user-friendly interface makes it easy to navigate and analyze text.</p>
            </div>
            <div class="card">
              <i class="ri-earth-line"></i>
              <h2>Advanced AI Algorithms</h2>
              <p>TextGuardian's detection system is built on advanced AI algorithms that ensure accurate and reliable results.</p>
            </div>
          </div>
        </div>
        <div id="detect-section">
          <div class="detect-info">
            <h5>Detect</h5>
            <h1>Unleashing the Power of Multilingual Text Detection</h1>
            <p>TextGuardian's neural network utilizes the advanced BERT based multilingual cased algorithm to accurately detect AI generated and human written text. With its cutting-edge technology, TextGuardian ensures reliable and efficient text detection for a wide range of languages.</p>
            <div class="learn-more-btn">
              <a href="/about">Learn More</a>
            </div>
          </div>
          <img src="../static/detect.png" alt="">
        </div>
        <div id="faq-section">
          <h1>FAQs</h1>
          <p>Find answers to common questions about TextGuardian and how it works.</p>
          <button class="accordion">What is TextGuardian?</button>
          <div class="panel">
            <p>TextGuardian is an advanced website that uses a neural network powered by BERT-based multilingual cased algorithm to detect AI-generated text and distinguish it from human-written text. It provides accurate and reliable results, ensuring that users can trust the authenticity of the text they encounter online.</p>
          </div>

          <button class="accordion">How does it work?</button>
          <div class="panel">
            <p>TextGuardian's neural network analyzes the text using the BERT-based multilingual cased algorithm. It compares the patterns and linguistic features of the text to identify AI-generated content. The algorithm has been trained on a vast dataset, enabling it to accurately detect AI-generated text with high precision.</p>
          </div>

          <button class="accordion">Why is it important?</button>
          <div class="panel">
            <p>With the rise of AI-generated text, it has become crucial to distinguish between AI-generated and human-written content. TextGuardian helps users verify the authenticity of the text they encounter, ensuring they can make informed decisions and trust the information they consume.</p>
          </div>
          <button class="accordion">Is it accurate?</button>
          <div class="panel">
            <p>TextGuardian's neural network has been trained on a vast dataset, making it highly accurate in detecting AI-generated text. It has been extensively tested and proven to provide reliable results, giving users confidence in the authenticity of the text they come across.</p>
          </div>
          <button class="accordion">How can I use it?</button>
          <div class="panel">
            <p>Using TextGuardian is simple. Just copy and paste the text you want to analyze into the provided text box, and TextGuardian will quickly determine whether it is AI-generated or human-written. It's a powerful tool for anyone who wants to ensure the integrity of the text they encounter online.</p>
          </div>
        </div>
        <div class="about-section">
          <div class="about-heading">
            <h5>Empowering</h5>
            <h1>Meet Our Team</h1>
          </div>
          <div class="team-details-h">
            <div class="team-card">
              <div class="team-image">
                <img src="../static/asrar.jpeg" alt="">
              </div>
              <div class="team-details">
                <h3 class="name">Asrar Ahammad</h3>
                <h4 class="role">Frontend / Worked on English model</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo commodi corporis repellat totam incidunt. Architecto, cum voluptate iure aspernatur iste est eveniet. Dolorem, quis laudantium?</p> -->
                <div class="social">
                  <a href="https://www.instagram.com/s._asrar/">
                    <i class="ri-instagram-line"></i>
                  </a>
                  <a href="https://github.com/Asrar-Ahammad">
                    <i class="ri-github-fill"></i>
                  </a>
                  <a href="https://twitter.com/asrar_ahammad">
                    <i class="ri-twitter-x-fill"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="team-image">
                <img src="../static/siddiq.jpg" alt="">
              </div>
              <div class="team-details">
                <h3 class="name">Mohammad Siddiq</h3>
                <h4 class="role">Backend / Worked on Hindi model</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo commodi corporis repellat totam incidunt. Architecto, cum voluptate iure aspernatur iste est eveniet. Dolorem, quis laudantium?</p> -->
                <div class="social">
                  <a href="https://www.instagram.com/its_siddiqshaik21/">
                    <i class="ri-instagram-line"></i>
                  </a>
                  <a href="https://github.com/siddiq3004">
                    <i class="ri-github-fill"></i>
                  </a>
                  <a href="">
                    <i class="ri-twitter-x-fill"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer">
            <div class="footer-logo">
              <h3>TextGuardian</h3>
            </div>
            <div class="footer-menu">
              <a href="/">HOME</a>
              <a href="/detect">DETECT</a>
              <a href="/about">ABOUT</a>
              <a href="https://github.com/Asrar-Ahammad/text-classification">GTIHUB</a>
            </div>
          </div>
    </div>
  </div>
</body>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
  </script>
<script src="../static/script.js"></script>
</html>